.db_btn {
    -fx-background-color: #F96E2A;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-text-fill: #FBF8EF;
    -fx-alignment: CENTER;
    -fx-background-radius: 10;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}

.left_pane {
    -fx-background-color: #78B3CE;
    -fx-pref-width: 130px;
    -fx-pref-height: 600px;
}

.admin_section {
    -fx-background-color: #C9E6F0;
}

.table_columns {
    -fx-background-color: #FBF8EF;
    -fx-text-fill: #78B3CE;
}

.menu_bar {
    -fx-background-color: #78B3CE;
}

.anchor_pane {
    -fx-background-color: #C9E6F0;
}

.text_field_pane {
    -fx-background-color: #C9E6F0;
}

.image_view {
    -fx-background-color: #78B3CE;
    -fx-border-color: #F96E2A;
    -fx-border-width: 2;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #C9E6F0;
    -fx-text-fill: #F96E2A;
}

.table-view .column-header .label {
    -fx-text-fill: #78B3CE;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
    -fx-cell-size: 35;
    -fx-alignment: center-left;
    -fx-background-color: #FBF8EF;
    -fx-border-color: #78B3CE;
    -fx-text-fill: #78B3CE;
    -fx-border-width: 0.0;
}

.table-row-cell:selected {
    -fx-background-color: #C9E6F0;
    -fx-text-fill: #F96E2A;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-background-color: #78B3CE;
    -fx-text-fill: #FBF8EF;
}

.table-view .increment-button,
.table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(#78B3CE, 80%);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#C9E6F0, 90%);
    -fx-background-insets: 1, 0, 0;
    -fx-background-radius: 2em;
}

.table-row-cell:filled .cell {
    -fx-border-width: 0.3;
}

.table-view-cell:empty {
    -fx-background-color: #F96E2A;
    -fx-border-width: 0.0;
}

.welcome_label {
    -fx-font-size: 24px;
    -fx-text-fill: #78B3CE;
    -fx-font-weight: bold;
}

.splash-image {
    -fx-background-color: transparent;
    -fx-border-color: #C9E6F0;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.login_title {
    -fx-font-size: 36px;
    -fx-text-fill: #F96E2A;
    -fx-font-weight: bold;
}

.login_text_field, .login_password_field {
    -fx-background-color: #FBF8EF;
    -fx-border-color: #78B3CE;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #78B3CE;
}

.login_button {
    -fx-background-color: #F96E2A;
    -fx-border-color: #78B3CE;
    -fx-text-fill: #FBF8EF;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

.about_textarea {
    -fx-background-color: #FBF8EF;
    -fx-text-fill: #78B3CE;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-color: #C9E6F0;
    -fx-border-width: 1px;
}

.about_label {
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-text-fill: #F96E2A;
    -fx-padding: 5px 0 10px 0;
}

.text_field {
    -fx-background-color: #FBF8EF;
    -fx-text-fill: #78B3CE;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-color: #78B3CE;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
}

.signup_label {
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #78B3CE;
    -fx-padding: 5px;
}

.signup_button {
    -fx-background-color: #78B3CE;
    -fx-text-fill: #FBF8EF;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.signup_button:hover {
    -fx-background-color: #C9E6F0;
}

.grid_pane {
    -fx-background-color: #C9E6F0;
}
